<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>ForePlay Game</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <form action="#" th:action="@{/game}" th:object="${participants}" method="post">
	    <p>Girl: <input type="text" th:field="*{femalePlayerName}" /></p>
	    <p>Boy: <input type="text" th:field="*{malePlayerName}" /></p>
	    <p><input type="submit" id="startGame" value="Lets play!!!" /></p>
	</form>
  </body>
</html>